<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--日志记录组建配置-->
  <log4net>
    <!-- 日志文件部分info输出格式的设定 -->
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名（StaticLogFileName为false）或路径（StaticLogFileName为true）-->
      <File value="logs/info_" />
      <!--是否为追加方式写日志-->
      <AppendToFile value="true" />
      <!--单个日志文件的最大大小-->
      <MaximumFileSize value="2048KB" />
      <!--滚动日志文件最大数量-->
      <MaxSizeRollBackups value="10" />
      <!--日志文件名是否固定-->
      <StaticLogFileName value="false" />
      <!--日志文件名不固定时的定义规则-->
      <DatePattern value="yyyyMM\\dd&quot;.log&quot;" />
      <!--滚动方式，Composite表示混合滚动方式；Date表示按日期滚动-->
      <RollingStyle value="Composite" />
      <!--写文件时的锁规则，MinimalLock表示每次写时加锁-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="&#13;&#10;" />-->
        <!--<param name="Footer" value="&#xD;&#xA;" />-->
        <!--写日志文件的格式 
					%d(datetime):时刻; 
					%c(class):日志对象的名称; 
					%t(thread id): 所在的线程ID; 
					%p(priority):日志的当前优先级别，即DEBUG、INFO、WARN等; 
					%m(message):输出的日志消息; 
					%n(new line):换行; 
					%r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数-->
        <ConversionPattern value="%d &gt;&gt; [%c]-[%t]-[%p] %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <!-- 日志文件error输出格式的设定 -->
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名（StaticLogFileName为false）或路径（StaticLogFileName为true）-->
      <File value="logs/error_" />
      <!--是否为追加方式写日志-->
      <AppendToFile value="true" />
      <!--单个日志文件的最大大小-->
      <MaximumFileSize value="2048KB" />
      <!--滚动日志文件最大数量-->
      <MaxSizeRollBackups value="30" />
      <!--日志文件名是否固定 (是否只写到一个文件中)-->
      <StaticLogFileName value="false" />
      <!--日志文件名不固定时的定义规则-->
      <DatePattern value="yyyyMM\\dd&quot;.log&quot;" />
      <!--滚动方式，Composite表示混合滚动方式；Date表示按日期滚动-->
      <RollingStyle value="Composite" />
      <!--写文件时的锁规则，MinimalLock表示每次写时加锁-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="&#13;&#10;" />-->
        <!--<param name="Footer" value="&#xD;&#xA;" />-->
        <!--写日志文件的格式 
					%d(datetime):时刻; 
					%c(class):日志对象的名称; 
					%t(thread id): 所在的线程ID; 
					%p(priority):日志的当前优先级别，即DEBUG、INFO、WARN等; 
					%m(message):输出的日志消息; 
					%n(new line):换行; 
					%r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数-->
        <ConversionPattern value="%d &gt;&gt; [%c]-[%t]-[%p] %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <!--OFF > FATAL > ERROR > WARN > INFO > DEBUG  > ALL-->
      <level value="ALL" />
      <appender-ref ref="debugAppender" />
      <appender-ref ref="errorAppender" />
    </root>
  </log4net>
</configuration>